<footer class="footer">
    <a href="/">&copy; ASHISH DEVU</a>
    <a href="/nav/about">ABOUT</a>
    <a href="/nav/contact">CONTACT</a>
    <div class="icons">
        <ion-icon size="large" name="logo-twitter"></ion-icon>
        <ion-icon size="large" name="logo-facebook"></ion-icon>
        <ion-icon size="large" name="logo-instagram"></ion-icon>
    </div> 
</footer>
</body>
</html>