<%- include('./partials/header.ejs')%>
<div class = "About-content">
    <h1>Welcome to TrueValue!</h1>

    <h4>TrueValue believes buying a car should be fun, easy, and affordable. We are changing the way people buy, sell, and trade in cars.<br> 
        If you are a seller, put your cars on our website and get a quick deal from our customers!
    </h4>

    <div class = "about-images">
        <div id = "farm-fresh">
            <img src="/images/about1.jpeg" alt="about1">
            <p>Best Value in Market</p>
        </div>
        <div class="fast-delivery">
        <img src="/images/about2.png" alt="about2">
        <p>Free Service</p>
        </div>
        <div id = "economical">
            <img src="/images/about3.png" alt="about3">
            <p>Hassle Free</p>
         </div>
    </div>
</div>
<%- include('./partials/footer.ejs')%> 