<%- include('./partials/header.ejs')%>
<div id="content">
    <h1>Welcome to True Value!</h1>
    <p>Come and trade your car for a "True Value"</p>
    <br>
    <%if(!user){%>
    <h3>Sign up for more exciting offers!</h3>
    <%}%>
</div>
<%- include('./partials/footer.ejs')%>
